.store{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    max-width: 650px;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 250px 250px 350px;
    grid-template-rows: 80px auto 80px;
    column-gap: 0px;
    row-gap: 40px;
}
.container-store{
    padding-top: 80px;
    display: flex;
    justify-content: center;

    
    padding-bottom: 20px;

    background-position: center!important;
    width: 100%;
    height: 100%;
}
.single-item{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-position: center!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-item__inner{
    animation-name: single-slide;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}
@keyframes single-slide{
    0%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0px);
    }
}
.single-item-cancel{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 19px;
    cursor: pointer;
    font-size: 1.5em;
    opacity: .7;
}
.single-item__inner{
    display: flex;
    flex-direction: column;
    line-height: 1.9;
    color: #fff;
    padding: 50px;
    max-width: 380px;
}
.store-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    0%{
        opacity:0;
       
    }
    100%{
        opacity:1;
    }
}
.store-error img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.store-error p{
    margin-top: 11px;
    text-align: center;
    line-height: 1.7;
}

@media screen and (max-width: 899px){
    .store{
        display: flex;
    }
}